<css-doodle>
    :doodle {
        @grid: 15x15;
        @size: 100vmax;
        gap: 1em;
        overflow: hidden;
    }

    :after {
        /*                     🪻        🌿      🪵       🏵️             🌸       🫒       🍋 */
        content: \@hex(@pick(0x1FABB, 0x1F33F, 0x1FAB5, 0x1F3F5 0xFE0F, 0x1F338, 0x1FAD2, 0x1F34B));
        font-family: Inter, "Noto Color Emoji", sans-serif;
        font-size: 2em;
        transform: rotate(@rand(360deg))
    }

    animation: test infinite @r(30s, 150s) linear;

    @keyframes test {
        0% {
            transform: translate3d(0, 0, 0) rotate(0deg);
        }
        50% {
            transform: translate3d(@r(-500%, 1000%), @r(-500%, 1000%), 0) rotate(@r(720deg));
        }
        100% {
            transform: translate3d(0, 0, 0) rotate(0deg);
        }
    }
</css-doodle>