/*  Make frontPage occupy whole screen
    and align contents to the center */
.front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(var(--base-bg), var(--body-opacity));
}

/* Set front page emoji size */
.front-page > h1 {
    font-size: 4em;
    line-height: 0;
}

/* Move front page links to top right */
.front-page-nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    right: 1em;
    top: 1em;
    column-gap: 1em;
}

/* Disable line under front page links */
.front-page-nav > a {
    text-decoration: none;
}

/* Style front page theme selection menu */
#front-page-color-select {
    border: unset;
    background-color: inherit;
    color: rgb(var(--url));
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 6.25em;
}

/* Arrange front page links vertically on really narrow phones */
@media(max-width: 400px) {
    .front-page-nav {
        flex-direction: column;
        align-items: flex-end;
        row-gap: 0.5em;
    }
}

/* Align the scroll down prompt to the bottom of frontPage */
.front-page > .front-page-scroll-prompt {
    position: absolute;
    left: 0;
    bottom: 1em;
    width: 100%;
}
/* Animate the scroll down prompt arrow */
#front-page-down-arrow {
    color: rgb(var(--base-fg));
    animation:updown 2s ease-in-out infinite;
}
@keyframes updown { 
    0% {  
        transform:translateY(0em); 
    } 
    50% {
        transform:translateY(0.5em);
    }
    100% {
        transform:translateY(0em);
    }
}
/* Remove link underlines in scroll down prompt */
.front-page-scroll-prompt > a {
    text-decoration: none;
}

/* Limit intro paragraph width and center it */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 1em 0 1em 0;
    text-align: center;
    background-color: rgb(var(--sec-bg));
}

.intro > h2, .intro > p {
    max-width: 75%
}

/* Set color for posts list heading */
.intro.posts-heading {
    background-color: rgba(var(--base-bg), var(--body-opacity));
}

/* Layout for posts list */
.posts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 1em 12.5vw 2em 12.5vw;
    background-color: rgba(var(--base-bg), var(--body-opacity));
}

/* Style for each post */
.post-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 25em;
    max-width: 25em;
    margin: 0;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgba(var(--sec-bg), 0.15);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: var(--shadow);
    transition: 200ms;
}
/* Display posts vertically on mobile */
@media (max-width: 1200px) {
    .posts-list {
        flex-direction: column;
        align-items: center;
    }
    .post-card {
        width: 75vw;
        max-width: 75vw;
    }
}

/* Remove excess space for post title and date */
/* Remove emoji color for post date */
.post-title, .post-date {
    line-height: 0;
}
.post-date {
    font-family: Inter, "Noto Emoji", sans-serif;
}
@supports (font-variation-settings: normal) {
    .post-date { font-family: InterVariable, "Noto Emoji", sans-serif; }
}

/* Truncate overflow text for each post */
.post-card > a, .post-tags  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
/* Set text color for each post */
.post-card > a, .tag-box, .tag-box-link {
    text-decoration: none;
}

/* Add underline when post title is hovered on */
.post-title > h3 {
    transition: 200ms;
}
.post-title > h3:hover { 
    color: rgb(var(--url));
}

/* Style for each tag */
.tag-box {
    font-size: 0.75em;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    transition: 200ms;
    background-color: rgb(var(--url));
    color: rgb(var(--base-bg));
    border: unset;
    cursor: pointer;
}

/* Hover effect for posts */
.post-card:hover {
    box-shadow: inset 0px 0px 0px 2px rgb(var(--url));
}

/* Set paginator font */
.paginator-controls > span {
    font-family: Inter, "Noto Color Emoji", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    color: rgb(var(--base-fg))
}
@supports (font-variation-settings: normal) {
    .paginator-controls > span { font-family: InterVariable, "Noto Color Emoji", sans-serif; }
}
/* Fix paginator padding */
.paginator {
    padding: 1em 0 2em 0;
}
/* Set paginator controls layout */
.paginator-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}
/* Disable paginator buttons underline */
.paginator-controls > a {
    text-decoration: none;
}

/* Send all doodles to back by default */
css-doodle {
    position: fixed;
    z-index: -1;
    animation: fade-in-doodle 2s;
}
@keyframes fade-in-doodle {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}