/* Center tags in front page of post */
.post-tags.front-page-post-tags {
    display: flex;
    column-gap: 0.5em;
    justify-content: center;
}

/* Center align post date and author around ✦ */
.post-page-date-author {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}
.post-page-separator {
    text-align: center;
    justify-self: center;
}
.post-page-date, .post-page-author {
    flex: 1;
}
.post-page-date {
    text-align: right;
    flex-grow: 1;
}
.post-page-author {
    text-align: left;
    flex-grow: 1;
}

.post-background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(var(--base-bg), var(--body-opacity));
}

/* Limit width of content */
.post-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 1.5em 2em 1.5em 2em;
    margin: 4em 0 4em 0;
    background-color: rgba(var(--sec-bg), 0.15);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: var(--shadow);
    border-radius: 0.5em;
}
.post-content > * {
    width: 50vw;
    max-width: 50vw;
}
.post-content > * > img {
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
}
/* Width of content for mobile */
@media (max-width: 900px) {
    .post-content {
        width: 100vw;
        max-width: 100%;
        margin: 0;
        padding: 2em 0 2em 0;
    }
    .post-content > * {
        width: 75vw;
        max-width: 75%;
    }
}

/* Position of back button */
.back-nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    left: 1em;
    top: 1em;
    column-gap: 1em;
}

/* Disable line under back button */
.back-nav > a {
    text-decoration: none;
}