---
layout: default
---

<div class="front-page">
    <h1>🌲</h1>
    <h2>{{ page.title }}</h2>
    <div class="front-page-scroll-prompt post-page">
        <div class="post-tags front-page-post-tags">
            {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/gats/{{ tag }}">
                    <button class="tag-box" type="button">{{ tag }}</button>
                </a>
            {% endfor %}
        </div>
        <div class="post-page-date-author">
            <p class="post-page-date">{{ page.date | date: "%b %-d, %Y" }}</p>
            <p class="post-page-separator">✦</p>
            <p class="post-page-author">
                {% assign author = site.authors | where: 'name', page.author | first %}
                {% if author %}
                    {{ author.name }}
                {% endif %}
            </p>
        </div>
        <a href="#excerpt">{% include front-page-scroll-prompt.html %}</a>
    </div>
    <!-- Back button -->
    {% include back-post.html %}
</div>

<div class="intro" id="excerpt">
    <h2>🪵</h2>
    {{ page.excerpt }}
</div>

<div class="post-content" id="content">
    {{ content | remove_first: page.excerpt }}
</div>